<div class="container mt-5">
  <h1 class="mb-5">Alle Angebote in Koblenz und Umgebung...</h1>
  <% unless @jobs.nil? %>
    <div class="row jobs_index">
      <% @jobs.each do |job| %>
      <div class="col-4">
        <%= link_to(job_path(job.id)) do %>
          <div class="jobcard">
            <h5><%= job.name %></h5>
            <p><%= User.find(job.user_id).name %> <br>
            <%= job.address %></p>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
