<div class="container mt-5">
  <h2>Jetzt Ihr Unternehmen verifizieren und Partner werden</h2>
  <p>Bitte treten Sie mit uns in Kontakt um einen <strong>Unternehmenszugang</strong> f端r ConnectUs zu bekommen. Wir senden Ihnen diesen per Email. Hierf端r d端rfen Sie uns nur kurz eine Email mit den folgenden Daten and diese Adresse senden:</p>
  <br>
  <p><strong>E-Mail:</strong> alisia.michel@vallendar.enactus.de</p>
  <p><strong>Betreff:</strong> ConnectUs - Verifizierung</p>
  <p><strong>Inhalt:</strong> Ihre E-Mail-Adresse, sowie ihr Unternehmen</p>
  <br>
  <p>Auf gute Zusammenarbeit</p>
  <br>
  <p>Ihr ConnectUs Team</p>
  <%= link_to "zur端ck", root_path, class: "reg_link" %>
</div>
