<%= cl_image_tag("file_mghb8d.jpg", class: "background") %>
<div class="container white-card mt-5">
  <h1>ConnectUs</h1>
  <h3>Einblicke in deinen Traumberuf</h3>
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-info btn-lg mr-4 col-3">Jetzt schnuppern</button>
    <button class="btn btn-dark btn-lg col-3">Für Unternehmen</button>
  </div>
</div>
<div class="d-flex d-flex justify-content-between mt-5 width-fit">
  <div class="white-card-text">
    <h4 class="mb-3">Zusammen arbeiten!</h4>
    <p>Wir möchten Menschen in der Region Mayen-Koblenz die Möglichkeit geben  Beruf und Betrieb kennen zu lernen. Sei es um sich zu orientieren oder mit dem Wunsch direkt einzusteigen. Über dieses Portal können sich Arbeitgeber und -nehmer verbinden um einen oder mehrere Schnuppertage im Betrieb auszumachen. So sieht man, ob das Arbeitsumfeld passt.</p>
  </div>
  <div class="white-card-text">
    <h4 class="mb-3">Enactus</h4>
    <p>Enactus Deutschland...</p>
  </div>
</div>
