.white-card {
  width: 80vw;
  height: 60vh;
  background: white;
  opacity: 0.92;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,.1)
}

.white-card h1 {
  padding-top: 16vh;
  font-size: 70px;

  @media (max-width: 500px) {
      padding-top: 10vh;
      font-size: 50px;
  }
}

.white-card-text {
  padding: 40px;
  background: white;
  opacity: 0.92;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,.1)
}
